<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!-- delimit with a "," ";" or "|" -->
      <setting name="RedirectManagerCacheDatabases" value="master,web" />
      <!-- delimit with a "," ";" or "|" -->
      <setting name="RedirectManagerIgnoreStartPaths" value="/sitecore,/api/,/SitecoreIdentityServer,/identity,/connect,/layouts,/~,/-,/temp" />
    </settings>
    <events>
      <event name="publish:end">
        <handler type="LiquidSC.Foundation.RedirectManager.EventHandlers.RedirectMapCacheClearer, LiquidSC.Foundation.RedirectManager" method="ClearRedirectCache" />
      </event>
      <event name="publish:end:remote">
        <handler type="LiquidSC.Foundation.RedirectManager.EventHandlers.RedirectMapCacheClearer, LiquidSC.Foundation.RedirectManager" method="ClearRedirectCache" />
      </event>
      <event name="item:saved">
        <handler type="LiquidSC.Foundation.RedirectManager.EventHandlers.RedirectMapCacheClearer, LiquidSC.Foundation.RedirectManager" method="OnItemSaved" />
      </event>
      <event name="item:saved:remote">
        <handler type="LiquidSC.Foundation.RedirectManager.EventHandlers.RedirectMapCacheClearer, LiquidSC.Foundation.RedirectManager" method="OnItemSavedRemote" />
      </event>
    </events>
    <pipelines>
      <httpRequestBegin>
        <!-- resolvers are run in the inverse order of how they appear here (bottom up)  -->
        <processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" type="LiquidSC.Foundation.RedirectManager.Pipelines.HttpRequest.RedirectMapResolver, LiquidSC.Foundation.RedirectManager" resolve="true">
          <CacheExpiration>3600</CacheExpiration>
        </processor>
        <processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" type="LiquidSC.Foundation.RedirectManager.Pipelines.HttpRequest.ItemRedirectResolver, LiquidSC.Foundation.RedirectManager" resolve="true">
          <CacheExpiration>3600</CacheExpiration>
        </processor>
        <processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" type="LiquidSC.Foundation.RedirectManager.Pipelines.HttpRequest.PathRedirectResolver, LiquidSC.Foundation.RedirectManager" resolve="true">
          <CacheExpiration>3600</CacheExpiration>
        </processor>
      </httpRequestBegin>
    </pipelines>
  </sitecore>
</configuration>

